.text{
    color:black
}
#sec1{
    width: 200px;
    height: 100px;
    background-color: rgba(89, 0, 255,0.5);
}
#sec2{
    width: 200px;
    height: 100px;
    background-color: rgba(255, 0, 0,0.5);
}
#sec3{
    width: 200px;
    height: 100px;
    background-color: rgba(0, 255, 179,0.5);
}
#box2{
    float: right;
    position: absolute;
    top: 70px;
   right: 160px;

    
}
